/** GENERELT **/

html,
body {
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Dosis';
    font-weight: 300;
    max-width: 400px;
    margin: 50px auto 30px;
}

p {
    font-family: 'Roboto';
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.5;
}


/** NAVIGATION **/

nav a,
nav button {
    font-family: 'Dosis', sans-serif;
    color: black;
    text-decoration: none;
    border: none;
    background-color: inherit;
    font-size: 30px;
    padding: 0;
    display: block;
    cursor: pointer;
    line-height: 2;
}

nav a:first-child {
    padding-top: 100px;
}

.dropdown-content {
    display: none;
    margin: 0 0 20px 10px;
    flex-direction: column;
    padding: 0;
}

.dropdown-content a {
    color: #535353;
    margin-bottom: 5px;
}

.dropdown-content a:first-child {
    padding-top: 0px;
}

.overlaycontent {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50%;
    display: none;
    margin: 20px;
    line-height: 1.4;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(232, 225, 210, 0.92);
    transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    top: -130px;
    right: 15px;
    font-size: 90px;
    display: none;
    background-color: transparent;
    line-height: 1.3;
}




#menu {
    font-size: 40px;
    cursor: pointer;
    margin: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bag {
    background-image: url(materiale/svg/bag.svg);
    width: 60px;
    height: 60px;
}

#bag h3 {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    margin-top: 23px;
}

.logo {
    background-image: url(materiale/svg/logo_full.svg);
    width: 190px;
    height: 80px;
    margin: 10px 0 0 20px;
}


/** FOOTER**/

#white {
    background-color: white;
    width: 100%;
    height: 5px;
}

#colorborder {
    background-color: #E8E1D2;
    width: 100%;
    height: 100px;
}

#footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer p {
    font-family: 'Dosis';
    font-size: 13px;
    margin-top: 10px;
}

#footer ul {
    list-style: none;
    text-align: center;
    font-family: 'Dosis';
    padding: 0;
    text-align: left;
    font-size: 13px;
    margin-top: 10px;
}

#somelinks {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 25px 20px 0 30px;
    border-left: solid grey 1px;
    border-right: solid grey 1px;
}

#insta {
    background-image: url(materiale/svg/footer_bb_insta.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#fb {
    background-image: url(materiale/svg/footer_bb_fb.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

#footer .logo {
    background-image: url(materiale/svg/footer_logo.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
    background-size: contain;
    margin: 5px auto 0;
}

footer a {
    color: black;
    text-decoration: none;
    font-family: 'Dosis';
    font-size: 12px;
}

#bottom {
    display: flex;
    justify-content: space-around;
    margin: 0 100px 10px;
}

footer a:hover {
    text-decoration: underline;
}



/** FORSIDE **/

#index {
    width: 56, 25vw;
    height: 150vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#index .logo {
    background-image: url(materiale/svg/logo_full_white.svg);
    width: 190px;
    height: 80px;
    margin: 10px 0 0 20px;
}

#index #bag {
    background-image: url(materiale/svg/bag_white.svg);
    width: 60px;
    height: 60px;
}

#index #bag h3 {
    color: white;
}

#index #menu {
    color: white;
}

/** PRODUKTSIDER **/

#splash {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin: 20px 0;
}

button {
    font-family: 'dosis';
    font-size: 20px;
    border: none;
    background-color: inherit;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    text-align: left;
}

.dropdown-materials {
    display: none;
    flex-direction: column;
}

.dropdown-colors {
    display: none;
    flex-direction: column;
}

.dropdown-prices {
    display: none;
    flex-direction: column;
}

.dropdown-stones {
    display: none;
    flex-direction: column;
}

.materials {
    text-align: left;
}

.colors {
    text-align: left;
}

.prices {
    text-align: left;
}

.stones {
    text-align: left;
}

.show {
    display: flex;
}

.price {
    margin: 400px 20px 0 0;
    text-align: right;
    font-family: 'Assistant';
    font-size: 20px;
}

#products {
    margin: 0 auto;
    column-count: 1;
    column-gap: 10px;
    margin: 25px;
    padding: 0;
}

#product {
    display: inline-block;
    background: #fff;
    padding: 1px;
    margin: 0 0 30px;
    width: 100%;
    height: 90vw;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
    background-size: contain;
}


/** ABOUT **/

#picture1 {
    width: 400px;
    height: 450px;
    background-size: cover;
    margin: 50px auto;
}

#picture2 {
    width: 400px;
    height: 450px;
    background-size: cover;
    margin: 50px auto;
}


/** BETINGELSER **/
#faq {
    display: flex;
    flex-direction: column;
}


.faq {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 400px;
    border: none;
    text-align: left;
    outline: none;
    margin: 20px auto 10px;
    font-size: 25px;

}

.active,
.faq:hover {
    background-color: rgba(232, 225, 210, 0.8);
}

.content {
    width: 370px;
    margin: 10px auto;
    display: none;
    overflow: hidden;
    background-color: white;
    text-align: left;
}

.faq:after {
    content: '\0002B';
    font-size: 35px;
    color: black;
    float: right;
    margin-top: -13px;
    margin-left: 5px;
}

.active:after {
    content: "\02212";
}

#faq li {
    list-style: none;
    font-family: 'Roboto';
}

#faq ul {
    padding: 0;
    line-height: 1.5;
}


/** GAVEKORT **/

.amount {
    display: flex;
    flex-direction: row;
    max-width: 297px;
    margin: 0 auto;
}

input {
    border: 2px black solid;
    height: 10px;
    width: 200px;
    padding: 20px;
    border-right: none;
    text-align: right;
}

.dkk {
    border-left: none;
    margin-top: 0px;
    border: 2px black solid;
    height: 35px;
    font-family: 'Roboto';
    padding: 15px 10px 0;
}

#buy {
    border: 2px solid black;
    width: 293px;
    height: 50px;
    margin: 40px auto 0;
}

h3 {
    margin: 15px;
    text-align: center;
    font-family: 'Roboto';
    cursor: pointer;
}

#buy:hover {
    background-color: black;
    color: white;
}

#giftcard {
    background-image: url(materiale/billeder/m_5b4823396a0bb7c40d9626f5.jpg.jpg.jpeg);
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 30px auto;
}

/** SINGLEVIEW **/

.slideshow {
    position: relative;
    margin: auto;
}

.slide1,
.slide2 {
    width: 100%;
}

.slide1 img,
.slide2 img {
    width: 100%;
}

.none {
    display: none;
}

.show {
    display: block;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.next {
    right: 0;
}

#gold {
    border-radius: 50px;
    background: linear-gradient(to right, #BF953F, #eae5b7, #BF953F);
    width: 50px;
    height: 50px;
}

#silver {
    border-radius: 50px;
    background: linear-gradient(to right, #a8a8a8, #ededed, #a8a8a8);
    width: 50px;
    height: 50px;
}

#choosematerial {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 150px;
}

.chosen {
    border: solid #E8E1D2 5px;
}

#choosesize {
    margin: 40px auto 20px;
    width: 200px;
}

#sizebutton {
    border: solid;
    padding: 5px;
    width: 200px;
    cursor: pointer;
}


#sizes {
    display: none;
    font-family: 'Roboto';
    border: solid grey;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.size {
    padding: 5px 10px;
    cursor: pointer;
}

#sizebutton i {
    margin-left: 5px;
}

#putinbasket {
    margin: 20px auto;
    width: 200px;
}

#putinbasket button {
    width: 200px;
    margin: 0 0 40px;
}
