/** GENERELT **/

html,
body {
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Dosis';
    font-weight: 300;
    max-width: 400px;
    margin: 50px auto 30px;

}

h1 {
    color: #41555B;
}

p {
    font-family: 'Roboto';
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.5;
}


/** NAVIGATION **/

nav a,
nav button {
    font-family: 'Dosis', sans-serif;
    color: black;
    text-decoration: none;
    border: none;
    background-color: inherit;
    font-size: 30px;
    padding: 0;
    display: block;
    cursor: pointer;
    line-height: 2;
    width: 150px;
    text-align: left;
    color: #41555B;
}

nav a:hover {
    transform: scale(1.1);
}

nav button:hover {
    transform: scale(1.1);
}

.dropdown-content {
    display: none;
    margin: 0 0 20px 10px;
    flex-direction: column;
    padding: 0;
}

.dropdown-content a {
    color: #5D8495;
    margin-bottom: 5px;
}

.dropdown-content a:first-child {
    padding-top: 0px;
}

.overlaycontent {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50%;
    display: none;
    margin: 20px;
    line-height: 1.4;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(232, 225, 210, 0.92);
    transition: 0.5s;
}

.closebtn {
    font-size: 90px;
    display: none;
    background-color: transparent;
    line-height: 0;
    margin: 20px 0 20px 200px;
}

#menu {
    font-size: 40px;
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-direction: row;
    color: #41555b;
}

#menu p {
    font-size: 20px;
    margin: 15px;
    visibility: hidden;
}

#menu:hover p {
    visibility: visible;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
}

#bag {
    background-image: url(materiale/svg/kurv.svg);
    width: 60px;
    height: 60px;
}

#bag h3 {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    margin-top: 23px;
    color: #41555b;
}

header .logo {
    background-image: url(materiale/svg/nyt_logo_bb.svg);
    width: 190px;
    height: 80px;
    margin: 20px 0 0 -80px;
    background-repeat: no-repeat;
}

header .logo:hover {
    transform: scale(1.1);
}

#index .logo:hover {
    transform: scale(1.1);
}


/** FOOTER**/

#footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #E8E1D2;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer p {
    font-family: 'Dosis';
    font-size: 13px;
    margin-top: 10px;
}

#footer ul {
    list-style: none;
    text-align: center;
    font-family: 'Dosis';
    padding: 0;
    text-align: left;
    font-size: 13px;
    margin-top: 10px;
}

#somelinks {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 25px 20px 0 30px;
}

#insta {
    background-image: url(materiale/svg/footer_bb_insta.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#insta:hover {
    transform: scale(1.2);
}

#fb:hover {
    transform: scale(1.2);
}

#fb {
    background-image: url(materiale/svg/footer_bb_fb.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

#footer .logo {
    background-image: url(materiale/svg/footer_logo.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
    background-size: contain;
    margin: 5px auto 0;
}

footer a {
    color: black;
    text-decoration: none;
    font-family: 'Dosis';
    font-size: 12px;
}

#bottom {
    display: flex;
    justify-content: space-around;
    margin: 0 100px 10px;
}

footer a:hover {
    text-decoration: underline;
}



/** FORSIDE **/

#index {
    width: 56, 25vw;
    height: 150vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#index .logo {
    background-image: url(materiale/svg/logo_full_white.svg);
    width: 190px;
    height: 80px;
    margin: 20px 0 0 -80px;
}

#index #bag {
    background-image: url(materiale/svg/bag_white.svg);
    width: 60px;
    height: 60px;
}

#index #bag h3 {
    color: white;
}

#index #menu {
    color: white;
}

#fpicture2 img {
    display: none;
}

/** PRODUKTSIDER **/

/** Her styles splashbilledet til at dække vinduets fulde vidde, samtidig med at det udfylder den kasse det ligger i **/
#splash {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin: 20px 0;
}

/** Her styles filtreringsknapperne med den rigtige font og uden border og baggrundsfarve **/

button {
    font-family: 'dosis';
    font-size: 20px;
    border: none;
    background-color: inherit;
    color: #41555B;
}

/** Her lægges filtreringsknapperne i en række med ligemeget plads mellem og rundt om dem **/

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
}

/** Her bestemmes det at dropdown ikke skal vises før vi trykker på filtreringsknapperne **/

.dropdown-materials {
    display: none;
    flex-direction: column;
}

.dropdown-colors {
    display: none;
    flex-direction: column;
}

.dropdown-prices {
    display: none;
    flex-direction: column;
}

.dropdown-stones {
    display: none;
    flex-direction: column;
}

.materials {
    text-align: left;
}

.colors {
    text-align: left;
}

.prices {
    text-align: left;
}

.stones {
    text-align: left;
}

/** Denne klasse tilføjes til dropdown vha javascript så indholdet vises **/

.show {
    display: flex;
}

/** Her styles prisens font og placering på produktet **/

.price {
    margin: 200px 20px 20px 0;
    text-align: right;
    font-family: 'Assistant';
    font-size: 20px;
}

/** Her lægges produkterne i et grid med 2 lige store kolonner og et gap på 10px **/

#products {
    display: grid;
    margin: 30px auto;
    max-width: 450px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

/** Her styles de enkelte produkter der har fået importeret baggrundsbillede via javascript **/
/** Kassen har en hvid baggrundsfarve og en grå box-shadow **/

#product {
    background: #fff;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1px;
    margin: 0 auto 30px;
    max-width: 400px;
    box-shadow: 2px 2px 4px 0 #ccc;
}


/** ABOUT **/

#picture1 {
    width: 400px;
    height: 450px;
    background-size: cover;
    margin: 50px auto;
}

#picture2 {
    width: 400px;
    height: 450px;
    background-size: cover;
    margin: 50px auto;
}


/** BETINGELSER **/
#faq {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}


.faq {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 400px;
    border: none;
    text-align: left;
    outline: none;
    margin: 20px auto 10px;
    font-size: 25px;
}

.active,
.faq:hover {
    background-color: rgba(232, 225, 210, 0.8);
}

.content {
    width: 370px;
    margin: 10px auto;
    display: none;
    overflow: hidden;
    background-color: white;
    text-align: left;
}

.faq:after {
    content: '\0002B';
    font-size: 35px;
    color: #41555B;
    float: right;
    margin-top: -13px;
    margin-left: 5px;
}

.active:after {
    content: "\02212";
    color: #41555B;
}

#faq li {
    list-style: none;
    font-family: 'Roboto';
}

#faq ul {
    padding: 0;
    line-height: 1.5;
}


/** GAVEKORT **/

.amount {
    display: flex;
    flex-direction: column;
    max-width: 297px;
    margin: 0 auto;
}

.slidecontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.slidecontainer:after {
    content: '\0002B';
    font-size: 20px;
    font-weight: bold;
    color: #41555B;
    margin-top: -9.5px;
    margin-left: 5px;
}

.slidecontainer:before {
    content: '\02212';
    font-size: 20px;
    font-weight: bold;
    color: #41555B;
    margin-top: -9px;
    margin-right: 5px;
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 1px;
    background: #41555B;
    outline: none;
    opacity: 0.7;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #41555B;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #41555B;
    cursor: pointer;
}

#dkk {
    font-family: 'Assistant';
    font-size: 20px;
    margin-top: 10px;
}

#buy {
    border: 2px solid #41555B;
    width: 293px;
    height: 50px;
    margin: 40px auto 0;
    color: #41555B;
}

h3 {
    margin: 15px;
    text-align: center;
    font-family: 'Roboto';
    cursor: pointer;
}

#buy:hover {
    background-color: #41555B;
    color: white;
}

#giftcard {
    background-image: url(materiale/billeder/giftcard_bb.png);
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 30px auto;
}

/** SINGLEVIEW **/

.slideshow {
    position: relative;
    margin: auto;
}

.slide1,
.slide2 {
    width: 100%;
}

.slide1 img,
.slide2 img {
    width: 100%;
}

.none {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #41555B;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.next {
    right: 0;
}

#gold {
    border-radius: 50px;
    background: linear-gradient(to right, #BF953F, #eae5b7, #BF953F);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#silver {
    border-radius: 50px;
    background: linear-gradient(to right, #a8a8a8, #ededed, #a8a8a8);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#choosematerial {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 150px;
}

.chosen {
    border: solid #E8E1D2 5px;
}

#choosesize {
    margin: 40px auto 20px;
    width: 200px;
}

#sizebutton {
    border: solid;
    padding: 5px;
    width: 200px;
    cursor: pointer;
    border-color: #41555B;
    color: #41555B;
}


#sizes {
    display: none;
    font-family: 'Roboto';
    border: solid grey;
    box-shadow: 2px 2px 4px 0 #ccc;
    border-color: #41555B;
}

.size {
    padding: 5px 10px;
    cursor: pointer;
    color: #41555B;
    border-color: #41555B;
}

#sizebutton i {
    margin-left: 5px;
    color: #41555B;
}

#putinbasket {
    margin: 20px auto;
    width: 200px;

}

#putinbasket button {
    width: 200px;
    margin: 0 0 40px;
    cursor: pointer;
    border-color: #41555B;
}

#options h2 {
    text-align: center;
    color: #41555B;
}

#hand {
    background: url(materiale/svg/haand.svg);
    0px 0px;
    background-size: 1600px 400px;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    animation: play 1.5s steps(4) infinite reverse;
}

@keyframes play {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 1600px;
    }
}

#sizechart {
    background-image: url(materiale/svg/ring_size_chart.svg);
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    margin: 30px auto;
}

/** MEDIAQUERIES **/
@media only screen and (min-width: 700px) {
    #products {
        max-width: 700px;
    }

    .price {
        margin-top: 300px;
    }

    .slideshow {
        max-width: 500px;
    }

    #choosematerial {
        max-width: 200px;
        margin: 0 auto
    }

    #top {
        justify-content: space-around;
    }

    #somelinks {
        padding: 40px 150px;
    }

    #footer ul {
        margin-top: 30px;
    }

    .faq {
        width: 600px;
    }

    .content {
        width: 570px;
    }

    .content p {
        margin: 0;
        max-width: 570px;
    }

    #index {
        height: 100px;
    }

    #index .logo {
        background-image: url(materiale/svg/nyt_logo_bb.svg);
        background-repeat: no-repeat;
        width: 270px;
        height: 140px;
    }

    header .logo {
        width: 270px;
        height: 140px;
    }

    #index #menu {
        color: #41555B;
    }

    #index #bag {
        background-image: url(materiale/svg/kurv.svg);
    }

    #index #bag h3 {
        color: #41555b;
    }

    #indexbig {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 700px;
        margin: 80px auto 50px;
    }

    #fpicture1,
    #fpicture4 {
        width: 200px;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
    }


    #fpicture3 {
        width: 230px;
        height: 160px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 12px 10px;
    }

    #fpicture2 img {
        width: 230px;
        height: 130px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 10px;
        display: block;
    }

    #sizechart {
        background-image: url(materiale/svg/size_chart_bb.svg);
        width: 400px;
        height: 90px;
    }

}

@media only screen and (min-width: 1000px) {
    #singleview {
        display: flex;
        flex-direction: row;
    }

    #choosematerial {
        margin: 50px auto 50px;
    }

    .slideshow {
        margin: 10px 100px 0 200px;
    }

    #options {
        max-width: 400px;
        margin: 0 auto;
    }

    #options h2 {
        margin-top: 100px;
    }

    #products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
    }

    #vision {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 900px;
        margin: 0 auto;
    }

    #packaging {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        max-width: 900px;
        margin: 0 auto;
    }

    #picture1 {
        margin-right: 0;
    }

    #picture2 {
        margin-left: 0;
    }

    #about h1 {
        max-width: 900px;
    }

    #about p {
        line-height: 2;
    }

    #somelinks {
        padding: 30px 300px;
    }

    #bottom {
        width: 900px;
        margin: 10px auto;
    }

    #buygift {
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        margin: 40px auto 60px;
    }

    #first {
        width: 900px;
        margin-right: 20px;
        margin: 0 auto;
    }

    #first h1,
    #first p {
        margin: 0;
        width: 100%;
        max-width: 900px;
    }

    #second {
        display: flex;
        flex-direction: row-reverse;
        max-width: 900px;
        margin: 0 auto;
    }

    .amount {
        margin-top: 130px;
    }

    #giftcard {
        width: 400px;
        height: 557px;
        margin: 0px 100px 0 0;
        background-size: cover;
        background-position: right;
    }

    #indexbig {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1200px;
        margin: 80px auto 50px;
    }

    #fpicture1,
    #fpicture4 {
        width: 400px;
        height: 600px;
        background-size: contain;
        background-repeat: no-repeat;
    }


    #fpicture3 {
        width: 460px;
        height: 310px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 29px 25px;
    }

    #fpicture2 img {
        width: 460px;
        height: 260px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 25px;
    }

    #infographic {
        display: flex;
        flex-direction: row;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #sizechart {
        margin-bottom: 100px;
    }
}
